alembic
blinker
click
Flask
Flask-Admin
Flask-Mail
Flask-Markdown
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
gunicorn
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
mpmath
numpy
matplotlib
scipy
pandas
psycopg2
py-bcrypt
python-dateutil
python-editor
python-slugify
pytz
six
SQLAlchemy
sympy
Unidecode
Werkzeug
WTForms
