{% extends "base.html" %}

{% block title %} - {{ exercise.name.title() }}{% endblock %}

{% block content %}
<!-- Exercise title -->
<h2>{{ exercise.name.title() }}</h2>
<!-- Messages -->
{% include '_errormessages.html'%}
{% include '_flashmessages.html'%}

{% from "_formhelper.html" import render_field %}
<!-- Exercise formular -->
<!-- ----------------- -->
<form method="POST"
	action=
		{% if practice is sameas true %}
			"{{ url_for('exercise', id=exercise.id, practice=practice, seed=seed) }}"
		{% elif practice is sameas false %}
			"{{ url_for('exercise', id=exercise.id, practice=practice) }}"
		{% endif %}
		role="form" id="ExerciseFormular">
	<!-- Go through question list-->
	{% for question in question_list %}
		{% set itr = loop.index %}  <!-- Set the iterator value -->
		<!-- Render a header and a description for each question in the list -->
		{% if itr-1 in type_dict %}
			{% if type_dict[itr-1] == 'single' %}
				<h3>Single choice</h3>
				<p>
				Following questions have only a single correct answer. 
				<!-- <ins class='text-danger'>Punktabzug</ins>. -->
				</p>
			{% elif type_dict[itr-1] == 'optional' %}
				<h3>Multiple choice</h3>
				<p>
				Following questions can have multiple correct answer.
				At least one is correct always.
				<!-- <ins class='text-danger'>Punktabzug</ins>. -->
				</p>
			{% elif type_dict[itr-1] == 'numerical' %}
				<h3>Numerical</h3>
			{% elif type_dict[itr-1] == 'no_answer' %}
				<h3>Derivation and discussion</h3>
			{% endif %}
		{% endif %} <!-- End of rendering question headers -->
		<hr>
		<!-- We are still in the for cycle going through question list -->
		<!-- Now render the question name -->
		<p> <label>Question {{itr}}</label>: {{ question.name }}</p>
		<p>
		{{ question.render(seed)[0] }}
		</p>
		{% set status = status_list[itr-1] %}
		{% set ans_msg = ans_msgs[itr-1] %}
		{% set point = points[itr-1] %}
		{% set formular = forms[itr-1] %}
		{{ formular.hidden_tag() }}
		<!-- Render answer options -->
		{% if question.no_answer %} <!-- Question with no answer -->
			<label>No answer required</label>
		{% elif question.render(seed)[1]|length > 1 %}
			{% if question.substitute_variables(seed)|length > 1 %}
				{% from "_formhelper.html" import render_checkbox %}
				{% set options = question.render(seed)[1] %}
				<label>Answer:</label>
				<div class="form-group">
				<div class="checkbox">
				{{ render_checkbox(formular.option1, options, 0, disabled=readonly) }}
				{{ render_checkbox(formular.option2, options, 1, disabled=readonly) }}
				{{ render_checkbox(formular.option3, options, 2, disabled=readonly) }}
				{{ render_checkbox(formular.option4, options, 3, disabled=readonly) }}
				{{ render_checkbox(formular.option5, options, 4, disabled=readonly) }}
				</div>
				</div>
			{% elif question.substitute_variables(seed)|length == 1 %} <!-- Question with at least
				one answer -->
				{% from "_formhelper.html" import render_radio %}
				{% set options = question.render(seed)[1] %}
				{% set qid = question.id %}
				<label>Answer:</label>
				<div class="form-group">
				<div class="radio">
				{% for o in range(5) %}
					{{ render_radio(question._options[o], options, o, readonly, qid) }}
				{% endfor %}
				</div>
				</div>
			{% endif %}
		{% else %} <!-- Question with numerical answer -->
			{{ render_field(formular.number, class='form-control', disabled=readonly) }}
		{% endif%}
		{% if show_messages is sameas true %}
			{% if ans_msgs %} <!-- Question with plaintext answer -->
				<p class={{status}}>{{ ans_msg }}</p>
			{% endif %}
		{% endif %}
	{% endfor %} <!-- End of FOR cycle through question list -->
	<hr>
	<div class="row">
		{% if practice is sameas true %} <!-- Only exercise sheet -->
			<div class='col-md-6'>
				<button type="submit" class="btn btn-default" name='save'>Evaluate</button>
			</div>
			<div class='col-md-6'>
				<p class="text-center">
					<label>Practice page</label>
				</p>
			</div>
		{% elif practice is sameas false %} <!-- Test sheet -->
			<div class='col-md-6'>
				<p>
					<button type="submit" class="btn btn-default" name='save'>Save</button>
					For future edition
				</p>
				<p class=text-danger>
					<button type="submit" class="btn btn-danger" name='submit'>Submit</button>
					No going back
				</p>
			</div>
			<div class='col-md-6'>
				<p class="text-center">
					<label>Deadline</label>: {{ exercise.close_date.strftime("%Y/%m/%d, %H:%M") }}
				</p>
			</div>
		{% endif %}
	</div>
</form>
{% endblock %}

{% block footer %}
{% include "footer/footer_home.html" %}
{% endblock %}
