{% extends 'base.html' %}

{% block title %} 
	- Setting
{% endblock %}

{% block content %}
	<h3>Reset user data</h3>
	{% include '_errormessages.html'%}
	{% include '_flashmessages.html'%}
	{% from "_formhelper.html" import render_field %}
	<form method="POST" action="{{ url_for('user_setting') }}" role="form">
			{{ form.hidden_tag() }}
			{{ render_field(form.fullname, class='form-control') }}
			{{ render_field(form.username, class='form-control') }}
			{{ render_field(form.email, class='form-control', readonly=True) }}
			{{ render_field(form.password, class='form-control') }}
			{{ render_field(form.confirm, class='form-control') }}
			<button type="submit" class="btn btn-default" value="reset">
					Reset
			</button>
	</form>
{% endblock %}

{% block footer %}
	{% include 'footer/footer_home.html' %}
{% endblock %}
